<a href="https://colab.research.google.com/github/raulbenitez/DAPR/blob/master/ways_2_load_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. LOAD DATA FROM BUILT-IN DATASETS:

We cal load data directly in a pandas dataframe from seaborn built-in datasets:

In [1]:
import seaborn as sns
iris = sns.load_dataset("iris")

In [2]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

You can load data from skearn as well, but in this case you should construct the dataframe aftewards from the loaded data:

In [5]:
from sklearn.datasets import load_wine
data = load_wine()

In [11]:
X = data.data

In [12]:
X.shape

(178, 13)

In [14]:
data.feature_names

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

In [16]:
import pandas as pd

df = pd.DataFrame(X,columns=data.feature_names)
df.head()

   alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
0    14.23        1.71  2.43  ...  1.04                          3.92   1065.0
1    13.20        1.78  2.14  ...  1.05                          3.40   1050.0
2    13.16        2.36  2.67  ...  1.03                          3.17   1185.0
3    14.37        1.95  2.50  ...  0.86                          3.45   1480.0
4    13.24        2.59  2.87  ...  1.04                          2.93    735.0

[5 rows x 13 columns]

# 2. Load data from a csv/excel file:

Load a file from your local hard drive in your computer:

In [17]:
from google.colab import files 
import io
uploaded = files.upload()

Saving test.xlsx to test.xlsx

In [19]:
import pandas as pd
df = pd.read_excel('test.xlsx', index_col=0,header=2)
df.head()

            Humans  Robots
Date
2019-03-10      10       3
2019-03-11      13      10
2019-03-12      16      17
2019-03-13      19      24
2019-03-14      22      31

Upload the file to your google drive and the read data from the google drive:

First, mount your google drive into colab (this would require permission from the gmail account you're using in google colab):

In [20]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [21]:
df = pd.read_excel('/content/gdrive/My Drive/test.xlsx', index_col=0,header=2)
df.head()

            Humans  Robots
Date
2019-03-10      10       3
2019-03-11      13      10
2019-03-12      16      17
2019-03-13      19      24
2019-03-14      22      31

# 3. PROCESSING/CLEANING DATA

## REMOVING COLUMNS FROM A PANDAS DATAFRAME

Create a new dataframe without one (or more columns):

In [22]:
df2 = df.drop('Humans',axis=1)
df2.head()

            Robots
Date
2019-03-10       3
2019-03-11      10
2019-03-12      17
2019-03-13      24
2019-03-14      31

## REMOVING OBSERVATIONS WITH MISSING VALUES OR NANs:

This will create a new dataframe without the observations that present a missing value or Nan in one or more of the columns:

In [23]:
df3 = df.dropna()
df3.head()

            Humans  Robots
Date
2019-03-10      10       3
2019-03-11      13      10
2019-03-12      16      17
2019-03-13      19      24
2019-03-14      22      31